<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Try IronRuby</title>

  <%= stylesheet_link_tag 'scaffold' %>
  <style type="text/css">
    body {
      padding: 0px; 
      margin: 50px; 
      background-color: #222;
    }
    #code, #result, .prompt {
      border: 0px;
      font-size: 16px;
      line-height: 20px;
      font-family: "Courier New";
      background-color: black;
      color: #eee;
    }
    #code {
      width: 90%;
      height: 20px;
      position: relative;
      left: -1px; top: -1px;
    }
    #run {
      display: none;
    }
    #run_form {
      color: white;
    }
    .prompt {
      color: yellow;
      float: left;
      clear: left;
    }
    .expression {
      margin-left: 20px;
    }
    #console {
      padding: 15px;
      background-color: black;
      height: 250px;
      overflow: auto;
      border: 10px solid #444;
    }
    #tutorial {
      background-color: #444;
      color: white;
      padding: 10px;
      font-size: 15px;
    }
    #tutorial h2 {
      margin: 0px; padding: 0px;
      border-bottom: 2px solid #666;
      border-top: 2px solid #666;
      background-color: #555;
      padding: 5px;
    }
    #instructions {
      padding: 10px;
      font-family: "Courier New"
    }
    .warning {
      color: white;
      background-color: #660000;
      padding: 10px 15px;
      padding-left: 60px;
      border-left: 10px solid #444;
      border-right: 10px solid #444;
      border-top: 10px solid #444;
      position: relative;
    }
    #warning-hide {
      background-color: white;
      padding: 1px 5px;
      top: 0px; left: 0px; bottom: 0px;
      position: absolute;
      padding-top: 17px;
    }
    #warning-hide:hover {
      background-color: black;
      color: white;
    }
    h1 {
      background-color: #444;
      color: white;
      padding: 20px 10px 10px;
      margin: 0px;
    }
  </style>

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'scrolling' %>

  <%= silverlight_include_tag :defaults %>
</head>
<body>

  <%= yield  %>

</body>
</html>

